.input-container {
    width: 100%;
    padding: 8px 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
}

.input-container input {
    width: 70%;
    height: 45px;
    padding: 4px 12px;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 18px;
}

.input-container input::placeholder {
    font-size: 18px;
    color: #000;
    font-style: italic;
    font-weight: 520;
}

.input-container button {
    width: 8%;
    height: 45px;
    border: 1px solid #84CEF5;
    background-color: #84CEF5;
    border-radius: 20%;
}

.input-container button:hover {
    background-color: #fff;
    border-color: #fff;
}

.container {
    width: 50%;
    align-items: center;
    margin: 3.5rem auto 0 auto;
    padding: 20px 15px;
    border: 1px solid #fff;
    border-radius: 34px;
    box-shadow: 1px 0 16px 0 rgba(0, 0, 0, 0.6);
    background-color: #ffffff80;
}

.loader {
    width: fit-content;
    margin: 100px auto 50px auto;
}

.city {
    width: fit-content;
    margin: 1.8rem auto 0 auto;
}

.city h2 {
    margin: 0;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.date {
    width: fit-content;
    margin: 1rem auto 0 auto;
}

.date p {
    margin: 0;
    font-size: 19px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.icon-deg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-deg .icon {
    width: 110px;
    margin: 0 8px 23px;
}

.icon-deg .temperature {
    margin: 50px 0 0 0;
    font-size: 70px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.cel-far {
    cursor: pointer;
    font-size: 23px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

.description {
    width: fit-content;
    margin: 12px auto 18px;
}

.description p {
    margin: 0;
    font-size: 21px;
    color: #f06789;
    font-weight: 500;
}

.humi-wind {
    margin: 0;
    width: 100%;
    margin: 40px 0 0;
    padding: 0 20px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}